.jeden{
    color: aqua;
}
.dwa{
    color: brown;
}
.trzy{
    color: coral;
}
.cztery{
    color: blue;
}
.tytul{
  background-color: chartreuse;  
  color: white;
}
.podtytul{
    background-color: cornflowerblue;
    color: white;
}
.tekst{
    background-color: darkkhaki;
    color: white;
}
.text{
    background-color: darkgreen;
    color: white;
}